@media (min-width: 700px) {
    h1 {
        color: white;
    }

    h1 span {
        background-color: black;
    }

    button {
        color: rgb(0, 0, 0);
        background-color: #FF9100;
    }
}

@media (min-width: 200px) and (max-width: 700px) {
    h1 {
        color: black;
    }

    h1 span {
        background-color: orange;
    }

    button {
        color: white;
        background-color: black;
    }
}

@media (max-width: 200px) {
    h1 {
        color: navy;
    }

    h1 span {
        background-color: yellow;
    }

    button {
        color: navy;
        background-color: yellow;
    }
}

body {
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100% 100%;
}

.gallery {
    background-color: black;
}

.grid-container {
    display: grid;
    gap: 1% 1%;
    grid-template-columns: 50% 50%;
    background-color:black;
    padding: 1%;
  }
  
  .grid-item {
    background-color:orange;;
    border: 1% solid rgba(0, 0, 0, 0.8);
    padding: 1%;
    text-align: center;
  }

  .galleryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

button {
    border: 5px solid #000;
    border-radius: 10px;
    font-weight: bold;
    background-position:center center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    margin:auto auto;
}

.start {
    background-image: url("images/hauntedHouse.jpg");
}

.enterButton {
    position: absolute;
    left:57%;
    top:80%;
    background-attachment:fixed;
}

.stayButton {
    position: absolute;
    left:9%;
    top:85%;
}

.lobby {
    background-image: url("images/lobby.jpg");
}

.enterHall {
    position: absolute;
    left:45%;
    top:50%;
}

.restart {
    position: absolute;
}

.goBack {
    position: absolute;
    right: 1%;
}

.graveyard {
    background-image: url("images/graveyard.jpg");
}

.escape {
   position:absolute;
   top:30%;
   left:85%;
    
}

.hallway {
    background-image: url("images/hallway.jpg");
}

.enterDeath1{
    position:absolute;
    left:30%;
    top:60%;
    color: rgb(255, 255, 255);
    background-color: black;
}

.death1{
    background-image:url("images/figure1.jpg");
}

.enterBasement {
    position:absolute;
    left:60%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.basement {
    background-image:url("images/basement.jpg");
}

.unlock {
    position:absolute;
    left:40%;
    top:47%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.doorway {
    background-image:url("images/figure.jpeg");
    background-size:cover;
}

.followFigure{
    position:absolute;
    left:70%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.winOne {
    background-image:url("images/confrontfigure.jpeg");

}

.ignoreFigure {
    position:absolute;
    left:15%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.death2 {
    background-image:url("images/figure1.jpg");
}

.enterBathroom {
    position:absolute;
    left:20%;
    top:50%;
    color: rgb(255, 255, 255);
    background-color:black;
}

.bathroom {
    background-image: url("images/bathroom.jpg");
    background-size:cover;
}

h1 {
    text-align: center;
    font-size: 38px;
}

h1 span {
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

label {
    color: white;
    background-color: black;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    display: grid;
    grid-template-rows: 100px 325px 100px;
    grid-template-columns: 4fr;
}

.bench {
    background-image: url("images/spookybench.jpeg");
}

.jumpscare {
    background-image: url("images/jumpscare.jpg");
}

.benchButton {
    position: absolute;
    left:90%;
    top:91%;
}

.takeKey {
    position: absolute;
    left:57%;
    top:50%;
}

.leave {
    position: absolute;
    left:95%;
}

.jumpscareBtn {
    position: absolute;
    top: 52%;;
    left: 13%;
}

form {
    text-align: center;
}

.winTwo {
    background-image: url("images/hauntedhousewin.jpg");
}


.takeKey {
    position: absolute;
    left:44%;
    top:50%;
}

.leave {
    position: absolute;
    left:95%;
}

.enterVent {
    position: absolute;
    left:70%;
    top:70%
}

.vent {
    background-image: url("images/Vent.jpg");
    background-size:cover;

}

.toFan {
    position:absolute;
    left:40%;
    top:50%;
}

.death3 {
    background-image:url("images/youDied.jpg");
    background-size:cover;
}

.toRight {
    position:absolute;
    left:50%;
    top:50%;
}

.ventCreature {
    background-image:url("images/ventMonster.png");
    background-size:cover;
}

.follow {
    position:absolute;
    left:50%;
    top:70%;
}

.win2 {
    background-image:url('images/escape.jpg');
    background-size:cover;
}

.attack {
    position:absolute;
    left:40%;
    top:70%
}

.death4 {
    background-image:url("images/ventMonster2.png");
    background-size:cover;
}

.galleryButton {
    position:absolute;
    top:90%;
    left:80%
}